h1{
/*  font-family: "Arial Black", Gadget, sans-serif;*/
  font-family: "Times New Romans", Gadget, sans-serif;
  text-align: center; 
}
body{
  color: black;
  background-color: white;
  left-margin: 10px;
  right-margin: 10px;
}
.inputarea
{
  display: flex;
  /*text-align: center;*/
  border: rgba(224, 119, 70, 1) 2px solid;
  word-wrap: break-word;
  color: white;
  background-color: green;
  justify-content: center;
  vertical-align: center;
}

.inputlabel
{
  padding: 3px 5px 0px 20px;
}

/* entry field */
.macinput
{
  border: rgba(224, 119, 70, 1) 2px solid;
  text-align: left;
  vertical-align: center;
  padding-bottom: 5px;
}
.timeinput
{
  border: rgba(224, 119, 70, 1) 2px solid;
  text-align: left; 
  vertical-align: center;
  padding-bottom: 5px;
}
/* search button on index */
.searchbar
{
/*  display: flex; */
  text-align: center;
  border: rgba(224, 119, 70, 1) 2px solid;
  word-wrap: break-word;
  color: white;
  background-color: red;
  justify-content: center;
}

table{
  display: flex;
  width: 95%;
  border-collapse: collapse;
  table-layout: auto;
}

/* search results header row */
tr.searchheader
{
  text-align: center;
  border: rgba(224, 119, 70, 1) 2px solid;
  word-wrap: break-word;
  color: white;
  background-color: black;
}

/* search results data rows */
tr.datas{
  text-align: center;
  border: rgba(224, 119, 70, 1) 1px solid;
  word-wrap: break-word;
  color: black;
  background-color: white;
}

td.maccol{
  width: 15%;
  padding: 5px 5px 5px 5px;
}
td.typecol{
  width: 10%;
}
td.phynamecol{
  width: 10%;
}
td.lastcol{
  width: 10%;
}
td.bssidcol{
  width: 15%;
}
td.encryptcol{
  width: 10%;
}
td.channelcol{
  width: 10%;
}
td.signalcol{
  width: 10%;
}

/*

table.classname td
{
  text-align: center;
  border: rgba(224, 119, 70, 1) 2px solid;
  word-wrap: break-word;
  color: black;
  background-color: gray;
}




table#close{

  table-layout: default;
  border-collapse: seperate;
  border-spacing: 5px 5px;
  border: none;
  vertical-align: top;
  color: white;
  background-color: purple;
}
table#close searchbar
{
  border: none;
  vertical-align: top;
  color: white;
  background-color: red;
}

*/


/*
machead
{
  text-align: center;
  border: rgba(224, 119, 70, 1) 2px solid;
  word-wrap: break-word;
  color: white;
  background-color: black;

}


table.none td
{
  border: none;
}
tr.row td{
    background-color: #333;
    text-decoration: italic;
    color: white;
    text-align: center;
    display: block;
}
th.maccol{
    width: 25%;
    padding: 5px 5px 5px 5px;
}

th.ssidcol{
    width: 25%;
}
th.bssidcol{
    width: 25%;
}
th.encryptcol{
    width: 5%;
}

th.channelcol{
    width: 3%;
}
th.signalcol{
    width: 3%;
}

*/
input[type=submit] {
    width: 20em;  height: 2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.active {
    background-color: #4CAF50;
}
/* Change the link color to #111 (black) on hover */
li a: hover {
    background-color: #111;
}

