<html>
    <head>
        <title>{{t}}</title>
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/bootstrap.min.css')}}" >
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/tabulator_midnight.min.css')}}" >
        <script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>  
        <script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
    </head>
    <body>
    <h1>{{h}}</h1>
    <hr>
    <div span="right">
        <form action="/search"    method="GET" >
            <table class="inputarea" id="inputarea" ><tr>
                <div>
                    <label for="macaddr"><strong>MAC:</strong></label><input name="macaddr" class="macaddr" type="text">
                    <label for="afterepoch"><strong>After Epoch:</strong></label><input name="afterepoch" class="afterepoch" type="datetime-local">
                    <label for="beforeepoch"><strong>Before Epoch:</strong></label><input name="beforeepoch" class="beforeepoch" type="datetime-local">
                </div>
            </tr></table>
            <table class="searchbar">
                <tr>><button type="submit">Search</button></tr>
            </table>
        </form>
    </div>
</body>
</html>
